<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar [(ngModel)]="searchTitle" (ionChange)="searchChanged()"></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-select [(ngModel)]="searchCategory" (ionChange)="searchChanged()">
          <ion-select-option value="">Todas as categorias</ion-select-option>          
          <ion-select-option value="Acessórios">Acessórios</ion-select-option>         
          <ion-select-option value="Celulares">Celulares</ion-select-option>
          <ion-select-option value="Eletrodomésticos">Eletrodomésticos</ion-select-option>
          <ion-select-option value="Games">Games</ion-select-option>
          <ion-select-option value="Informática">Informática</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr />
  <div align="right">
    <ion-button color="primary" href="/new/product">Novo</ion-button>
  </div>
  <hr />
  <ion-list>
    <ion-item button *ngFor="let product of (results | async)" [routerLink]="['/', 'product', product._id]">
      <ion-icon slot="start" *ngIf="product.category == 'Acessórios'" name="print-outline"></ion-icon>
      <ion-icon slot="start" *ngIf="product.category == 'Celulares'" name="phone-portrait-outline"></ion-icon>
      <ion-icon slot="start" *ngIf="product.category == 'Eletrodomésticos'" name="tv"></ion-icon>
      <ion-icon slot="start" *ngIf="product.category == 'Games'" name="game-controller-outline"></ion-icon>
      <ion-icon slot="start" *ngIf="product.category == 'Informática'" name="laptop"></ion-icon>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label text-wrap>
              <h2>{{ product.title }}</h2>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label text-wrap>
              <h3>{{ product.category }}</h3>
            </ion-label>
          </ion-col>
          <ion-col>
            <ion-label text-wrap>
              <h3>{{ getFormattedPrice(product.price) }}</h3>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>